#banner
    height: 100%
    width: 100%
    margin: 80px 0 25px
    position: relative
    .container-banner
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        +make-container(30px)
        .content-banner
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .title-banner
                margin: 10% 0 5%
                font-size: 2.1rem
                font-weight: 700
                text-align: center
                color: $titles-subtitles
            p
                margin: 5% auto
        figure
            margin: 0
            width: 80%
            transform: translateX(-90px)
            display: flex
        span
            display: flex
            background: url("../assets/img/points.png")
            display: flex
            width: 22%
            height: 80px
            background-size: cover
            background-repeat: no-repeat
            position: absolute
            transform: translate(168%)
            bottom: 17%
        .button.btn-consult-banner
            width: 60%
            height: 45px
            margin: 5% 0
            background-color: $button-color
            color: $white
    +media-breakpoint($xs)
        .container-banner
            .content-banner
                .title-banner
                    font-size: 2.2rem
                    padding: 0 5%
            .button.btn-consult-banner
                margin: 8% 0
                height: 50px
    +media-breakpoint-height(750px,830px)
        .container-banner
            .content-banner
                .title-banner
                    margin: 15% 0 10%
            figure
                width: 95%
            .button.btn-consult-banner
                margin: 15% 0
    +media-breakpoint-up(sm)
        .container-banner
            // max-width: 540px
            .content-banner
                .title-banner
                    width: 80%
                    font-size: 3rem
                    padding: 0 10%
                .text-paragraf
                    font-size: 1.5rem
                    width: 80%
                    text-align: center
            figure
                width: 65%
                transform: translateX(-160px);
            span
                height: 160px
                background-size: contain
            .button.btn-consult-banner
                height: 80px
                width: 50%
                font-size: 1.5rem
    +media-breakpoint-up(lg)
        .container-banner
            +make-container(15%)
            max-width: 960px
            .content-banner
                .title-banner
                    width: auto
                    margin: 10% 0 0
            figure
                transform: translateX(-230px)
            span
                transform: translate(280%)
                height: 130px
                bottom: 20%
                width: 15%
            .button.btn-consult-banner
                width: 40%
    +media-breakpoint-up(xl)
        .container-banner
            +make-container(15%)
            max-width: 1200px
            flex-direction: row
            flex-wrap: wrap
            .content-banner
                width: 50%
            figure
                width: 50%
                transform: translateX(0)
            span
                display: none
            .button.btn-consult
    




