#banner
    height: 100%
    width: 100%
    margin: 80px 0 25px
    position: relative
    .container-banner
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        +make-container(30px)
        .content-banner
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .title-banner
                margin: 10% 0 5%
                font-size: 2.1rem
                font-weight: 700
                text-align: center
                color: $titles-subtitles
            p
                margin: 5% auto
        figure
            margin: 0
            width: 80%
            transform: translateX(-90px)
            display: flex
        span
            display: flex
            background: url("../assets/img/points.png")
            display: flex
            width: 22%
            height: 80px
            background-size: cover
            background-repeat: no-repeat
            position: absolute
            transform: translate(168%)
            bottom: 17%
        .button.btn-consult-banner
            width: 60%
            height: 45px
            margin: 5% 0
            background-color: $button-color
            color: $white
    +media-breakpoint($xs)
        .container-banner
            .content-banner
                .title-banner
                    font-size: 2.2rem
                    margin-bottom: 5%
            .button.btn-consult-banner
                margin: 8% 0
                height: 50px
    +media-breakpoint-height(750px,830px)
        .container-banner
            .content-banner
                .title-banner
                    margin: 15% 0 10%
            figure
                width: 95%
            .button.btn-consult-banner
                margin: 15% 0
    +media-breakpoint-up(sm)




