#banner
    height: 100%
    width: 100%
    margin: 80px 0 25px
    position: relative
    .container-banner
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
        +make-container(30px)
        .content-banner
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            .title-banner
                margin: 10% 0 5%
                font-size: 2.1rem
                font-weight: 700
                text-align: center
                color: $titles-subtitles
            .text-paragraf
                margin: 5% auto
            .button.btn-consult-banner
                display: none
        figure
            margin: 0
            width: 80%
            transform: translateX(-90px)
            display: flex
        span
            display: flex
            background: url("../assets/img/points.png")
            display: flex
            width: 22%
            height: 80px
            background-size: cover
            background-repeat: no-repeat
            position: absolute
            transform: translate(168%)
            bottom: 17%
        .button.btn-consult-banner
            width: 60%
            height: 45px
            margin: 5% 0
            background-color: $button-color
            color: $white
    +media-breakpoint($xs)
        .container-banner
            .content-banner
                .title-banner
                    font-size: 2.2rem
                    padding: 0 5%
            .button.btn-consult-banner
                margin: 8% 0
                height: 50px
    +media-breakpoint-height(750px,830px)
        .container-banner
            .content-banner
                .title-banner
                    margin: 15% 0 10%
            figure
                width: 95%
            .button.btn-consult-banner
                margin: 15% 0
    +media-breakpoint-up(sm)
        .container-banner
            justify-content: space-between
            .content-banner
                .title-banner
                    width: 80%
                    font-size: 2.5rem
                    padding: 0 10%
                .text-paragraf
                    font-size: 1.5rem
                    width: 80%
            figure
                width: 65%
                transform: translateX(-160px);
            span
                height: 160px
                background-size: contain
            .button.btn-consult-banner
                height: 80px
                width: 50%
                font-size: 1.5rem
    +media-breakpoint-up(lg)
        .container-banner
            +make-container(5%)
            max-width: 960px
            .content-banner
                .title-banner
                    width: auto
                    margin: 10% 0 0
            figure
                transform: translateX(-230px)
            span
                transform: translate(280%)
                height: 130px
                bottom: 20%
                width: 15%
            .button.btn-consult-banner
                width: 40%
    +media-breakpoint-up(xl)
        .container-banner
            max-width: 1200px
            flex-direction: row
            flex-wrap: wrap
            align-items: flex-start
            .content-banner
                width: 40%
                align-items: start
                .title-banner
                    padding: 0
                    text-align: left
                    width: 90%
                    margin: 130px 0 0
                .text-paragraf
                    width: 95%
                    font-size: 1.2rem
                    text-align: left
                    margin: 5% 0
                .button.btn-consult-banner
                    width: 45%
                    height: 56px
                    margin: 5% 0
                    font-size: 1.2em
                    background-color: $button-color
                    color: $white
                    display: flex
                    text-decoration: none
                    transition: background-color .3s ease-out
                    &:hover
                        background-color: $spothligthColorHover
                        border-color: $spothligthColorHover

            figure
                margin-top: 20px
                width: 53%
                transform: translateX(0)
            span
                transform: translate(0);
                height: 140px;
                bottom: 20%;
                width: 7%;
                top: 4%;
                left: -3%;
            .button.btn-consult-banner
                display: none
    




