#our_services
    &::before
        content: ''
        display: none
    header
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        p
            text-align: center
            font-size: 1rem
            line-height: 20px
            margin: 5% 0 10%
            +make-container(30px)
    .content-services
        +make-container(30px)
        justify-content: center
        align-items: center
        display: flex
        flex-direction: column
        .type-services
            display: flex
            flex-direction: column
            justify-content: space-between
            background-color: #f1ebeb2e
            width: 100%
            height: 310px
            border-radius: 20px
            margin-bottom: 35px
            padding: 30px
            figure
                margin: 0 0 20px
                height: 30%
                img
                    height: 100%
            .description-type-services
                .title-services
                    font-size: 1.5rem
                    font-weight: 600
                    color: $black
                .text-paragraf
                    text-align: left
                    font-size: 1rem
        .btn-read-more
            width: 65%
    +media-breakpoint-up(sm)
        .content-services
            .btn-read-more
                width: 35%
    +media-breakpoint-up(md)
        header
            width: 75%
            margin: 0 auto
            h2
                font-size: 2.2rem
                color: $black
                font-weight: 600
                &::after
                    content: ''
                    display: flex
                    width: 55px
                    height: 4px
                    background-color: $color-fonte
                    margin: 30px auto 0
            .description-services
                margin: 5% 0
        .content-services
            display: flex
            justify-content: space-between
            flex-direction: row
            flex-wrap: wrap
            width: 100%
            max-width: 720px
            .type-services
                background-color: #fff
                width: 48%
            .btn-read-more
                // width: 30%
                height: 56px
                font-size: 1.2rem
                margin: 0 auto
    +media-breakpoint-up(lg)
        &::before
            display: block
            content: ''
            position: absolute
            width: 100%
            height: 100%
            z-index: -1
            background: 
                image: url('../assets/img/wahter.png')
                size: 65% 50%
                repeat: no-repeat
                position: -190px 215px
        header
            max-width: 65%
            margin-bottom: 50px
        .content-services
            width: 100%
            max-width: 960px
            .type-services
                width: 31%
    +media-breakpoint-up(xl)
        &::before
            background-size: 100% 100%
        margin-top: 100px
        .content-services
            position: relative
            width: 100%
            padding: 0 30px
            max-width: 1140px
            .type-services

