$spothligthColor: #feafde
$white: #fff

#header
    position: fixed
    top: 0
    display: flex
    width: 100%
    height: 80px
    justify-content: center
    align-items: center
    z-index: 10
    background: $white
    figure
        margin: 0
        width: 176px
        height: 45px
        display: flex
        justify-content: center
        align-items: center
        img
            width: 100%
            height: 100%
            position: relative
    nav
        position: absolute
        display: none
    .menu-mobile
        height: 45%
        width: 10%
        position: absolute
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        right: 3%
        span
            border-radius: 10px
            display: flex
            justify-content: center
            align-items: center
            height: 10%
            width: 90%
            background: $spothligthColor
